.about-bg {
    background: #152A2F
}

.user-circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
}

.username {
color: #DBEBF0;
font-size: 32px;
font-style: normal;
line-height: 36px; 
}