.about-bg {
    background: linear-gradient(180deg, #132A2D 21.27%, rgba(19, 42, 45, 0.95) 39.45%, rgba(19, 42, 45, 0.95) 41.97%, rgba(19, 42, 45, 0.95) 44.76%, rgba(19, 42, 45, 0.93) 47.94%, rgba(19, 42, 45, 0.95) 51.76%, rgba(19, 42, 45, 0.95) 54.09%, rgba(19, 42, 45, 0.95) 56.7%, #132A2D 67.42%, #132A2D 74.14%, rgba(19, 42, 45, 0.95) 81.78%, rgba(19, 42, 45, 0.95) 93.25%, #132A2D 98.01%);
}

.user-circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
}

.username {
color: #DBEBF0;
font-size: 32px;
font-style: normal;
line-height: 36px; 
}