.header-buttons {
    transition: all 200ms;
}

.header-buttons:hover {
    scale: 1.1;
}

.shop-btn:hover {
    scale: 1.1;
    background-color: white
}

.link:hover {
    opacity: 0.6;
}

.testimonial-animatable {
    transition: 200ms;
    z-index: 2;
}

.card {
    min-height: none;
}

.testimonial-animatable:hover {
    scale: 1.1;
    filter: blur(0);
    margin-left: 0;
    margin-right: 0;
}

.testimonial-animatable:hover .active-card {
    height: 100%;
}

.__right {
    margin-right: -7rem;
}

.__left {
    margin-left: -7rem;
}

.menu-icon {
    transition: all 200ms ease;
    cursor: pointer;
}

.menu-icon:active {
    scale: 0.8;
}

.sign-up-bg:active {
    background-color: #737272;
}

.color-card:hover {
    scale: 1.1;
    background-color: #446F82;
    cursor: pointer;
}

.color-card:hover h3 {
    color: #fff;
}

.menu-item:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline;
}

.color-circle:hover {
    scale: 1.1;
    cursor: pointer;
}

.color-circle {
    transition: all 0.2s ease;
}

.buy-btn {
    transition: all 0.2s ease;
}

.buy-btn:hover {
    scale: 1.1;
}

.collection-item {
    transition: all 0.2s ease;
}

.collection-item:hover {
    scale: 1.1;
    cursor: pointer;
}

.footer-item:hover {
    text-decoration: underline;
    color: #b0bcc1;
    cursor: pointer;
}

.footer-icon {
    transition: all 0.2s ease;
}

.footer-icon:hover {
    scale: 1.1;
    cursor: pointer;
    filter: brightness(0.9);
}