.card {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 450px;
    background-color: #2E5C6B;
    border-radius: 20px;
    margin-top: 5rem;
    overflow: hidden;
}

.year-block {
    width: 60%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0 3rem 0;
    flex-basis: 100px;
    flex-wrap: wrap;
}

.year-color__1 {
    background-color: #B39081;
}

.year-color__2 {
    background-color: #85BAFA;
}

.year-color__3 {
    background-color: #818BB3;
}

.card-bb-1 {
    border-bottom: 5px solid #EAB1B1;
}

.card-bb-2 {
    border-bottom: 5px solid #85BAFA;
}

.card-bb-3 {
    border-bottom: 5px solid #B1B1EA;
}

.grow-card {
    max-width: 720px;
    min-height: 300px;
    border-bottom: 3px solid #FFF;
}

.testimonial-card {
    align-items: start;
    justify-content: center;
    width: 60%;
}

.use-card {
    background: #2A4550;
    border-radius: 20px;
    width: 80%;
}

.use-card-text {
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
}