.why-card {
    height: 170px;
    border-radius: 20px;
    padding: 0 1rem;
}

.decreased {
    width: 300px;
}

.title {
    color: #FFF;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
}

.subtitle {
    color: #FFF;
    font-size: 24px;
    font-style: normal; 
    font-weight: 200;
    line-height: 35px; 
    letter-spacing: 2px;
}

.wrapping {
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 300px;  
}